.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 76px;

  @include tablets {
    margin-bottom: 25px;
  }

  @include phones {
    margin-bottom: 55px;
  }
}

.advantage {
  width: calc(50% - 10px);
  max-width: 570px;
  min-height: 299px;
  padding: 40px 40px 58px 40px;
  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;
  margin-bottom: 29px;
  cursor: pointer;
  transition: .7s;

  @include tablets {
    width: calc(50% - 32px);
    padding: 25px 19px 20px 25px;
    min-width: 300px;
    min-height: 232px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }

  @include phones {
    min-width: 100%;
    padding: 21px 10px 29px 21px;
    margin-bottom: 18px;
    min-height: auto;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advantage__br--mobile {
  display: none;

  @include phones {
    display: block;
  }
}


.advantage:hover {
  background-color: #00B2FF;
  color: white;

  .advantage__title {
    color: white;
  }
}

.advantage__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 17px;
  @include tablets {
    width: 30px;
    margin-bottom: 5px;
  }
  @include phones {
    margin-bottom: 12px;
  }
}

.advantage__icon-pic {
  display: block;
  width: 100%;
  max-height: 100%;
  fill: #00B2FF;
}

.advantage__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  color: #00B2FF;
  margin-bottom: 19px;

  @include tablets {
    margin-bottom: 10px;
  }

  @include phones {
    font-size: 20px;
  }
}

.advantage__desc {
  font-family: "PT mono", monospace;
  font-size: 16px;
  color: #666666;

  @include tablets {
    line-height: 22px;
  }
}

.advantage:hover {
  .advantage__desc {
    color: white;
  }
  .advantage__icon {
    fill: white;
  }
}