.advantages {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 76px;

  @include tablets {
    margin-bottom: 25px;
  }

  @include phones {
    margin-bottom: 54px;
  }
}

.advantage {
  width: calc(50% - 10px);
  max-width: 570px;
  min-height: 299px;
  padding: 40px 40px 58px 40px;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  margin-bottom: 29px;
  cursor: pointer;
  transition: 0.7s;
  background-color: white;

  @include tablets {
    width: calc(50% - 32px);
    padding: 25px 19px 20px 25px;
    min-width: 300px;
    min-height: 232px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
  }

  @include phones {
    min-width: 100%;
    padding: 21px 12px 26px 24px;
    margin-bottom: 18px;

    &:first-child {
      padding-right: 15px;
    }

    &:nth-child(3) {
      padding-right: 25px;
    }

    &:last-child {
      margin-bottom: 0;
      padding-right: 20px;
    }
  }
}

.advantage__br--mobile {
  display: none;

  @include phones {
    display: block;
  }
}

.advantage:hover {
  background-color: #00b2ff;
  color: white;

  .advantage__title,
  .advantage__desc {
    color: white;
  }

  .advantage__icon-pic {
    fill: white;
  }
}

.advantage__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 17px;

  @include tablets {
    width: 30px;
    margin-bottom: 5px;
  }

  @include phones {
    margin-bottom: 14px;
  }
}

.advantage__icon-pic {
  display: block;
  width: 100%;
  max-height: 100%;
  fill: #00b2ff;
}

.advantage__title {
  font-family: $roboto;
  font-size: 24px;
  font-weight: normal;
  color: #00b2ff;
  margin-bottom: 19px;

  @include tablets {
    margin-bottom: 10px;
  }

  @include phones {
    font-size: 20px;
  }
}

.advantage__desc {
  font-family: $ptmono;
  font-size: 16px;
  color: #666666;

  p {
    margin: 0;
    padding: 0;
  }

  @include tablets {
    line-height: 22px;
  }
}
