.burger-menu {
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 13px;
  justify-content: space-between;
  position: relative;
}

.burger-menu:before,
.burger-menu:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: white;
}

.burger-menu:before {
  top: 0;
  left: 0;
}

.burger-menu:after {

  bottom: 0;
  left: 0;
}