.button {
  padding: 1.7vh 2.8rem 1.4vh;
  border-radius: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
}

.button--blue{
  background-color: #00B2FF;
  border-color: transparent;
}