.button {
  padding: 12px 28px;
  border-radius: 5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;

  @include tablets {
    padding: 2.7vh 2.8rem 2.4vh;
  }

  @include phones {
    width: 100%;
  }
}

.callme-button {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.button--blue {
  background-color: #00b2ff;
  text-decoration: none;
  border-color: #00b2ff;
  padding: 15px 44px 15px;
  letter-spacing: 0.05em;
  color: white;

  @include tablets {
    padding: 1.9vh 30px 2.1vh;
  }
}

.button:hover {
  background-color: rgba($color: white, $alpha: .8);
  color: #00b2ff;
  border-color: #00b2ff;
  transition: .7s;
}

.button--border_blue {
  border-color: #00b2ff;
  color: #00b2ff;
  padding: 13px 49px;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 16px;
}

.button--border_blue:hover {
  background-color: #00b2ff;
  color: white;
  transition: .7s;
}

.consult-button__text--desktop {
  @include phones {
    display: none;
  }
}

.consult-button__text--mobile {
  display: none;

  @include phones {
    display: inline-block;
  }
}

.submit-button {
  min-width: 47%;
  margin-right: 38px;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 16px;

  @include tablets {    
    margin-right: 42px;
    padding: 2vh 2.8rem 2vh;
  }

  @include phones {
    margin-right: 0;
    margin-bottom: 3vh;
  }
}

.scroll-button {
  align-self: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  font-family: $ptmono;
  transform: rotate(-90deg) translate(-140%,-16%);
  font-size: 14px;
  opacity: .5;
  line-height: 16px;
  @include tablets {
    display: none;
  }
}