.company-history {
  @include tablets {
    display: none;
  }
}

.company-history--tablets {
  display: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include tablets {
    display: block;
    opacity: .5;
  }

  @include phones {
    margin-bottom: 32px;
  }
}