.contacts {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.contacts--active {
  .contacts__wrapper {
    max-height: 100%;
    height: auto;
    transition: 0.7s;

    @include phones {
      margin-bottom: 24px;
    }
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  opacity: 0.5;

  @include phones {
    max-height: 0;
    overflow: hidden;
  }
}

.contacts__desc,
.contacts__link {
  p {
    margin: 0;
    padding: 0;
  }

  margin-bottom: 4px;

  @include phones {
    padding-right: 2%;
  }
}

.contacts__link:hover {
  color: #00b2ff;
}

.contacts__title {
  position: relative;
  text-transform: uppercase;
  font-family: $roboto;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
  margin-top: 0;
  font-weight: normal;
  letter-spacing: 0.05em;

  @include tablets {
    font-size: inherit;
    margin-bottom: 28px;
  }

  @include phones {
    color: #1b2d37;
    font-weight: normal;
    opacity: 1;
    cursor: pointer;
  }
}

.contacts__title::before {
  display: none;
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  background-color: #c4c4c4;
  width: 2px;
  height: 15px;
  transform: translate(-8px, -5px);

  @include phones {
    display: block;
  }
}

.contacts__title::after {
  display: none;
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  background-color: #c4c4c4;
  width: 15px;
  height: 2px;
  transform: translate(-16%, 50%);

  @include phones {
    display: block;
  }
}

.contacts--active .contacts__title::before {
  display: none;
}

.contacts__link {
  text-decoration: none;
}
