.form__row {
  display: flex;
  margin-bottom: 44px;
  align-items: center;

  @include tablets {
    margin-bottom: 42px;
  }

  @include phones {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  display: flex;
  flex: 1;
  margin-right: 31px;
  font-family: "PT mono", monospace;
  color: white;
  align-items: center;
  position: relative;

  @include phones {
    width: 100%;
    margin-right: 0;
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.form__block:last-child {
  margin-right: 0;
}

.form__block input,
.form__block textarea {
  flex: 1;
  background-color: #12bbff;
  padding: 14px 17px;
  color: white;
  @include tablets {
    padding: 16px 17px;
  }
}

.form__block input {
  width: 50%;

  @include phones {
    width: 100%;
  }
}

.form__block textarea {
  min-height: 154px;
  
  @include tablets {
    min-height: 163px;
  }

  @include phones {
    min-height: 102px;
  }
}

.form__block input::placeholder,
.form__block textarea::placeholder {
  font-family: "PT mono", monospace;
  color: white;
}

.form__block--checkbox {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.form__block-checkbox {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 16px;
}

.form__block-checkbox:hover {
  opacity: .7;
  transition: .7s;
}

.form__block-checkbox:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  min-height: 16px;
  margin-right: 14px;
  border: 1px solid white;
}

input[type="checkbox"]:checked~.form__block-checkbox:after {
  background-image: url("./../img/background/check.png");
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  min-width: 9px;
  min-height: 6px;
  transform: translate(60%,80%);
}
