.header {
  width: 100%;
  position: absolute;
  color: white;
  top: 34px;
  z-index: 20;

  @include tablets {
    top: 20px;
  }

  @include phones {
    top: 16px;
  }
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 32px;

  @include tablets {
    padding: 0 25px;
  }

  @include phones {
    padding: 0 15px;
  }
}

.header-contacts {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex: 1;
  margin-right: 45px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include tablets {
    margin-right: 0;
    justify-content: flex-end;
    flex: 0;
    padding: 0;
    flex-wrap: nowrap;
  }
}

.header-contacts__item {
  margin-right: 85px;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 34px;
  }

  @include phones {
    width: 23px;
    height: 23px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-family: $ptmono;
  text-decoration: none;
}

.header-contacts__link:hover {
  opacity: 0.6;
  transition: 0.7s;
}

.header-contacts__link-text {
  @include tablets {
    display: none;
  }
}

.header-contacts__image {
  width: 20px;
  height: 20px;
  margin-right: 20px;

  @include tablets {
    width: 25px;
    height: 25px;
    margin-right: 0;
  }
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 230px;
  max-width: 356px;
  flex: 1;
  margin-right: 38px;

  @include tablets {
    max-width: 85%;
    width: auto;
  }

  @include phones {
    min-width: auto;
    margin-right: 30px;
  }
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 520px;

  @include tablets {
    width: auto;
    min-width: auto;
  }

  .button {
    justify-self: flex-end;

    @include tablets {
      display: none;
    }
  }
}
