.hero {
  position: relative;
  padding: 303px 0 275px;
  background-image: url("./../img/background/hero.png");
  background-color: rgba($color: #1b2d37, $alpha: 1);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  @include tablets {
    padding: 186px 58px 163px;
  }

  @include phones {
    padding: 285px 0 72px;
  }
}

.hero::before,
.hero::after {
  position: absolute;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  top: 50%;
  right: 0;
  background-size: cover;
}

.hero::before {
  width: 37%;
  height: 59%;
  background-image: url("./../img/background/plates.png");
  transform: translate(-22%, -35%);
  z-index: 5;
  background-size: contain;

  @include tablets {
    width: 62%;
    transform: translate(45%, -64%);
  }

  @include phones {
    width: 96%;
    transform: translate(4%, -92%);
    height: 46%;
  }

  @media (min-resolution: 192dpi) {
    background-image: url("./../img/background/plates-2x.png");
  }
}

.hero::after {
  background-image: url("./../img/background/triangles.png");
  width: 33%;
  // z-index: 30;
  right: 0;
  transform: translate(-37%, -34%);

  @include tablets {
    width: 67%;
    transform: translate(36%, -68%);
  }

  height: 56%;
  background-size: contain;

  @include phones {
    width: 150%;
    transform: translate(66%, -69%);
    height: 57%;
  }
}

.hero__container {
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;

  @include phones {
    padding: 0 17px;
  }
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 750px;
  padding-left: 97px;
  z-index: 30;
  align-items: flex-start;

  @include tablets {
    padding-left: 50px;
    width: 75%;
  }

  @include phones {
    width: 100%;
    padding: 0;
  }
}

.hero__content::before {
  position: absolute;
  display: block;
  content: "";
  width: 66px;
  height: 1.5px;
  background-color: white;
  transform: translateX(-143%);
  top: 15px;

  @include tablets {
    width: 33px;
    transform: translateX(-147%);
  }

  @include phones {
    display: none;
  }
}
