.info {
  position: relative;
  color: #666666;
  padding-left: 19%;
  padding-right: 7%;
  @include tablets {
    padding-left: 150px;
  }
  @include phones {
    padding: 0;
  }
}

.info:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url('./../../img/background/year.png');
  width: 18%;
  min-height: 330px;
  background-repeat: center center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  transform: translateX(-15%);
  @include tablets {
    min-height: 360px;
    width: 250px;
  }
  @include phones {
    display: none;
  }
}



.info__desc p {
  margin-bottom: 20px;
}