.info {
  font-family: "PT mono", monospace;
  position: relative;
  color: #666666;
  padding-left: 178px;
  padding-right: 10px;

  @include tablets {
    padding-left: 203px;
    padding-right: 15px;
  }

  @include phones {
    padding: 0;
  }
}

.info:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("./../img/background/year.png");
  width: 117px;
  min-height: 305px;
  background-repeat: center center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  transform: translate(1%,4%);

  @include tablets {
    min-height: 348px;
    width: 137px;
    transform: translate(13%, 2%);
  }

  @include phones {
    display: none;
  }
}

.info__section-title {
  margin-bottom: 23px;

  @include tablets {
    margin-bottom: 28px;
  }

  @include phones {
    margin-bottom: 20px;
  }
}

.info__desc {
  margin-bottom: 51px;
  font-family: $ptmono;

  @include tablets {
    display: none;
    margin-bottom: 53px;
  }

  @include phones {
    margin-bottom: 41px;
  }
}

.info__desc--tablets {
  display: none;

  @include tablets {
    display: block;
  }
}

.info__desc p {
  margin-bottom: 19px;

  @include phones {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}