.logo {
  display: block;
}

.logo__image {
  display: block;
  position: relative;
  z-index: 20;
  height: 5.5vh;
  width: 200px;

  @include tablets {
    height: 6.5vh;
    width: 205px;
  }

  @include phones {
    height: 7vh;
    width: 220px;
    margin-bottom: 2.4vh;
  }
}

.logo__image--hidden {
  @include phones {
    display: none;
  }
}

.logo__image--mobile {
  display: none;
  margin-bottom: 0;

  @include phones {
    width: 38px;
    height: 38px;
    display: block;
  }
}