.page-desc {
  position: relative;
  font-family: $ptmono;
  font-size: 22px;
  display: flex;
  margin-bottom: 44px;
  line-height: 34px;

  @include tablets {
    font-size: 18px;
    line-height: 156.8%;
    margin-bottom: 53px;
  }

  @include phones {
    font-size: 16px;
    padding-left: 48px;
    margin-bottom: 40px;
  }
}

.page-desc:before {
  content: "";
  position: absolute;
  display: none;
  width: 33px;
  height: 2px;
  background-color: white;
  top: 10px;
  left: 0;

  @include phones {
    display: block;
    top: 14px;
    left: 1px;
  }
}