.section-title {
  font-family: $roboto;
  font-size: 36px;
  color: white;
  font-weight: normal;
  margin-top: 0;

  @include tablets {
    font-size: 32px;
  }

  @include phones {
    font-size: 28px;
  }
}

.section-title--gray {
  color: #666666;
}
