.services {
  background-color: #1b2d37;
  color: white;
  padding: 87px 0 125px;

  @include tablets {
    padding: 48px 0 78px;
  }

  @include phones {
    padding: 50px 0 64px;
  }
}

.services__section-title {
  margin-bottom: 54px;

  @include tablets {
    width: 85%;
  }

  @include phones {
    width: 100%;
    margin-bottom: 42px;
    margin-left: 10px;
  }
}

.services__container {
  flex-direction: column;
  max-width: 1220px;
  padding: 0 15px 0 33px;

  @include tablets {
    padding: 0 25px;
  }

  @include phones {
    padding: 0 15px 0 15px;
  }
}

.services__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @include tablets {
    flex-direction: column;
  }
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 370px;
  min-height: 620px;
  margin-right: 30px;

  @include tablets {
    flex: 0;
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 45px;
    min-height: 256px;
  }

  @include phones {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.service__link {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  background-color: gray;
  padding: 51px 45px;

  @include tablets {
    padding: 39px 45px;
  }

  @include phones {
    padding: 22px 35px;
  }
}

.service__link::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(#1b2d37, 0.7);
  top: 0;
  left: 0;
}

.service__link:hover::before {
  transition: 0.7s;
  background-color: rgba(#1b2d37, 0.5);
}

.service__link::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  bottom: 0;
  right: 0;
  z-index: 50;
  background-image: url("../img/background/arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.service__link:hover::after {
  background-color: rgba(#00b2ff, 0.7);
  transition: 0.7s;
}

.service__link--production {
  background-image: url("../img/background/service-1.jpg");

  @media (min-resolution: 192dpi) {
    background-image: url("./../img/background/service-1-2x.png");
  }

  @include tablets {
    background-image: url("../img/background/service-1--tablets.jpg");

    @media (min-resolution: 192dpi) {
      background-image: url("./../img/background//service-1--tablets-2x.png");
    }
  }
}

.service__link--mounting {
  background-image: url("../img/background/service-2.jpg");

  @media (min-resolution: 192dpi) {
    background-image: url("./../img/background/service-2-2x.png");
  }

  @include tablets {
    background-image: url("../img/background/service-2--tablets.jpg");

    @media (min-resolution: 192dpi) {
      background-image: url("./../img/background//service-2--tablets-2x.png");
    }
  }
}

.service__link--components {
  background-image: url("../img/background/service-3.jpg");

  @media (min-resolution: 192dpi) {
    background-image: url("./../img/background/service-3-2x.png");
  }

  @include tablets {
    background-image: url("../img/background/service-3--tablets.jpg");

    @media (min-resolution: 192dpi) {
      background-image: url("./../img/background//service-3--tablets-2x.png");
    }
  }
}

.service__title {
  width: 100%;
  max-width: 160px;
  z-index: 30;
  font-size: 20px;
  font-family: $roboto;
  color: white;
  position: relative;

  p {
    margin: 0;
    padding: 0;
  }
}
