.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
}

.socials__image {
  display: block;
  width: 27px;
  height: 27px;
}