.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
}

.socials__image {
  display: block;
  width: 27px;
  height: 27px;
  fill: #CDCDCD;
}

.socials__image--fb:hover {
  fill: #3578E5;
}

.socials__image--ok:hover {
  fill: #ee8208;
}

.socials__image--vk:hover {
  fill: #4a76a8;
}