html {
  @include desktop {
    font-size: 15px;
  }

  @include tablets {
    font-size: 14px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1460px;
  display: flex;
  flex: 1;
  padding: 0 20px;
}

.section {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

label {
  cursor: pointer;
}

input,
textarea {
  border: none;
  background-color: transparent;
  resize: none;
}